<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_desc %}{% endblock %}">

    {#    <link rel="shortcut icon" href="{{ STATIC_URL }}favicons/favicon.ico">#}
    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block h1 %}
    <h1>{{ h1 }}</h1>
{% endblock %}
<div id="content">
    {% block content %}
        {{ content|safe }}
    {% endblock content %}
</div>

{% block footer %}
<footer class="footer">
</footer>
{% endblock %}
</div> <!-- /content -->

{% block extra_body %}
{% endblock extra_body %}

</body>
</html>
